body {
    background-color: #000000;
    background-image: url('https://images7.alphacoders.com/566/566562.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center center;
    background-size:cover;
    max-width:100%;
    height:auto;
    width:auto\9;
    margin:0px;
}

h {
	padding-top: 100px;
	padding-bottom: 100px;
	margin: 30px;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: bold;
   	text-align:center;
    }
    

h1 {
	padding-top: 100px;
	padding-bottom: 100px;
	margin: 30px;
    color: #000000;
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: bold;
   	text-align:center;
    }
    
h2 {
    color: #f17676;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: bold;
   	text-align:center;
    }
h-login {
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 30px;
    color: #FFFFFF;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 50px;
    font-weight: bold;
   
    }


.signin{
  	width: 300px;
  	height: 250px;
 	border: 1px solid #000000;
  	padding-top:50px;
  	padding-bottom:50px;
  	background-color: #FFFFFF;
  	opacity: 0.9;
	font-size: 12px;	
	}

p {
    color: #000000;
    text-transform: capitalize;
}

div {
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 70px;
    font-size: 14px;

}

.container {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    opacity: 0.9;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    text-color: #000000;
}


.div1{
	background-color: #FFFFFF;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    
}
table, th {
    border: 0px;
    border-style:solid;
    border-color: #CC6666;
    border-spacing: 15px;
    background-color: #FFFFFF;
    opacity: 0.9;
	font-size: 12px;
	padding: 30px;
	
}

.navbar-brand {
	height: 40px;
    padding-top:0;
	
}

.navbar-header,
.navbar-nav li a {
    line-height: 40px;
    height: 40px;
    padding-top: 0;
}

tr.spacing>td {
  	padding: 3px;
}