<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
 
  <display-name>ILikeToMovieMovie</display-name>
 
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
 
 
  <resource-ref>
    <description>MySQL DataSource example</description>
    <res-ref-name>jdbc/moviedb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
    <servlet-name>SearchResults</servlet-name>
    <servlet-class>SearchResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResults</servlet-name>
    <url-pattern>/yearresult</url-pattern>
    <url-pattern>/titleresult</url-pattern>
    <url-pattern>/directorresult</url-pattern>
    <url-pattern>/moviebystarresult</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BrowseResults</servlet-name>
    <servlet-class>BrowseResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowseResults</servlet-name>
    <url-pattern>/browsegenreresults</url-pattern>
    <url-pattern>/browsetitleresults</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>cart</servlet-name>
    <servlet-class>cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/cart</url-pattern>
   </servlet-mapping>

  <display-name>BrowseByGenre</display-name>
  <description>
     >BrowseByGenre
    </description>
  <servlet>
    <servlet-name>>BrowseByGenre</servlet-name>
    <servlet-class>>BrowseByGenre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>>BrowseByGenre</servlet-name>
    <url-pattern>/>BrowseByGenre</url-pattern>
  </servlet-mapping>
  
    <display-name>BrowseByTitle</display-name>
  <description>
     >BrowseByTitle
    </description>
  <servlet>
    <servlet-name>>BrowseByTitle</servlet-name>
    <servlet-class>>BrowseByTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>>BrowseByTitle</servlet-name>
    <url-pattern>/>BrowseByTitle</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>checkout</servlet-name>
    <servlet-class>checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkout</servlet-name>
    <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    
    
  <servlet>
    <servlet-name>insertStar</servlet-name>
    <servlet-class>insertStar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertStar</servlet-name>
    <url-pattern>/insertStar</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>insertMovie</servlet-name>
    <servlet-class>insertMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertMovie</servlet-name>
    <url-pattern>/insertMovie</url-pattern>
  </servlet-mapping>
  <!-- 
 <security-constraint>
 <web-resource-collection>
    <web-resource-name>HTTPSOnly</web-resource-name>
    <url-pattern>/*</url-pattern>
 </web-resource-collection>
 <user-data-constraint>
    <transport-guarantee>CONFIDENTIAL</transport-guarantee>
 </user-data-constraint>
</security-constraint>
   -->
 
 </web-app>